<div class="count-container">
    <h3>Count</h3>
    <p>Player: {{this.playerCount}} / Computer: {{this.computerCount}}</p>
</div>
<div class="container"> 
    <div class="field-container">
        @for (column of columns; let columnIndex = $index; track columnIndex) {
            <div class="column">
                @for (row of rows; let rowIndex = $index; track rowIndex) {
                    <app-cell [coordinates]="rowIndex+'-'+columnIndex"></app-cell>
                }
            </div>
        }
    </div>
    <mat-form-field class="controls-container">
        <mat-label>Amount of time</mat-label>
        <input matInput type="number" name="time" [(ngModel)]="amountOfTime">
    </mat-form-field>
    <button mat-stroked-button (click)="startGame(amountOfTime)">Почати</button>
</div>